@model TesteAPI.Models.ViewModel.CreateVenda


<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <img src="~/images/venda.png" class="img-fluid" style="max-width: 15rem; border-radius: 10px; margin-top: -10rem; margin-bottom: 3rem;" />
    <form method="post" >
        <div class="card border-danger p-4" style="border-radius: 30px;">
            <h3 class="mb-4 card-header">Cadastro de Vendas</h3>
            <div class="card-body">
                <div class="form-group">
                    <label class="card-text" for="IdCliente">ID do Cliente</label>
                    <input type="number" class="form-control" id="IdCliente" asp-for="IdCliente">
                    @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="card-text" for="IdProduto">ID do Produto</label>
                    <input type="number" class="form-control" id="IdProduto" asp-for="IdProduto">
                    @Html.ValidationMessageFor(model => model.IdProduto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="card-text" for="QtdVenda">Quantidade de vendas</label>
                    <input type="number" class="form-control" id="QtdVenda" asp-for="QtdVenda">
                    @Html.ValidationMessageFor(model => model.QtdVenda, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-outline-danger mt-4 d-flex justify-content-center mx-auto">Cadastrar</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="camposVazios" tabindex="-1" role="dialog" aria-labelledby="camposVaziosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="camposVaziosLabel">Campos vazios!</h5>
                <button type="button" class="btn btn-danger close cancelar-modal" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Há campos vazios que precisam ser preenchidos!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger cancelar-modal" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="criadoComSucesso" tabindex="-1" role="dialog" aria-labelledby="criadoComSucessoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criadoComSucessoLabel">Campos vazios!</h5>
                <button type="button" class="btn btn-danger close cancelar-modal" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Venda criada com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger cancelar-modal" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            //e.preventDefault();

            var IdCliente = $('#IdCliente').val();
            var IdProduto = $('#IdProduto').val();
            var QtdVenda = $('#QtdVenda').val();

            if (IdCliente === '' || IdProduto === '' || QtdVenda === '') {
                //$('#camposVazios').modal('show');
                //$('#criadoComSucesso').modal('hide');
                alert("Erro, preencha os campos corretamente");
            }
            else {
                //$('#camposVazios').modal('hide');
                alert("Criado com sucesso!");
                //$('#criadoComSucesso').modal('show');
            }
        });
    });

    $('.cancelar-modal').click(function () {
        $('#camposVazios').modal('hide');
        $('#criadoComSucesso').modal('hide');
    })


</script>