@model TesteAPI.Models.ViewModel.CreateCliente

<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Cliente</title>
</head>
<body>
    <h1>Adicionar Cliente</h1>

    <div class="container">
        <form method="post">
            <div class="m-2">
                <label class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nmCliente" asp-for="NmCliente" />
            </div>

            <div class="m-2">
                <label class="form-label">Cidade: </label>
                <input type="text" class="form-control" id="cidade" asp-for="Cidade" />
            </div>

            <div class="m-2">
                <button type="submit" class="btn btn-dark">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>