@model TesteAPI.Models.ViewModel.UpdateCliente

<div class="container d-flex justify-content-center align-items-center vh-100">
    <form method="post" action="/Cliente/Editar">
        <div class="border p-4">
            <h3 class="mb-4">Editar Cliente</h3>
            <div class="form-group">
                <label for="NmCliente">Nome do Cliente</label>
                <input type="text" class="form-control" id="NmCliente" asp-for="NmCliente">
                @Html.ValidationMessageFor(model => model.NmCliente, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <label for="Cidade">Cidade</label>
                <input type="text" class="form-control" id="Cidade" asp-for="Cidade">
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
            <input type="hidden" asp-for="IdCliente" />
            <button type="submit" class="btn btn-outline-light mt-4 d-flex justify-content-center mx-auto">Editar</button>
        </div>
    </form>
</div>

<div class="modal fade" id="camposVazios" tabindex="-1" role="dialog" aria-labelledby="camposVaziosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="camposVaziosLabel">Campos vazios!</h5>
                <button type="button" class="btn btn-light close cancelar-modal" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Há campos vazios que precisam ser preenchidos!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light cancelar-modal" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="criadoComSucesso" tabindex="-1" role="dialog" aria-labelledby="criadoComSucessoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criadoComSucessoLabel">Campos vazios!</h5>
                <button type="button" class="btn btn-light close cancelar-modal" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Cliente criado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light cancelar-modal" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            //e.preventDefault();

            var nmCliente = $('#NmCliente').val();
            var cidade = $('#Cidade').val();

            if (nmCliente === '' || cidade === '') {
                //$('#camposVazios').modal('show');
                alert("Erro, preencha os campos corretamente");
                //$('#criadoComSucesso').modal('hide');
            }
            else {
                //$('#camposVazios').modal('hide');
                alert("Criado com sucesso!");
                //$('#criadoComSucesso').modal('show');
            }
        });
    });

    $('.cancelar-modal').click(function () {
        $('#camposVazios').modal('hide');
        $('#criadoComSucesso').modal('hide');
    })


</script>