@model List<TesteAPI.Models.Domain.Cliente>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nome do Cliente</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.IdCliente</td>
                        <td>@cliente.NmCliente</td>
                        <td>@cliente.Cidade</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>